/*
	Kube Professional CSS-framework Version 2.0.0

	Copyright (c) 2013, Imperavi Inc.

	http://imperavi.com/kube/
*/
/* =Reset
-----------------------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
a:active,
a:hover {
  outline: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
/* Webkit browsers reset margin */
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  box-sizing: border-box;
}
/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* Horizontal rule reset  */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Clearfix */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #333333;
  font-size: 0.875em;
  line-height: 1.65em;
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
a {
  color: #336699;
}
a:focus,
a:hover {
  color: #ef6465;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 2.142em;
  line-height: 1.1333em;
  margin-bottom: .2666em;
}
h2 {
  font-size: 1.714em;
  line-height: 1.1666em;
  margin-bottom: .4555em;
}
h3 {
  font-size: 1.429em;
  line-height: 1.4em;
  margin-bottom: .4em;
}
h4 {
  font-size: 1.143em;
  line-height: 1.65em;
  margin-bottom: .4555em;
}
h5 {
  font-size: 1em;
  line-height: 1.65em;
  margin-bottom: .5em;
}
h6 {
  font-size: 0.857em;
  line-height: 1.5em;
  margin-bottom: .4555em;
  text-transform: uppercase;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
  margin-bottom: 0;
}
hgroup {
  margin-bottom: 0.6em;
}
.subheader {
  font-weight: 300;
  color: #888;
}
h1.subheader {
  font-size: 1.357em;
  line-height: 1.263em;
}
h2.subheader {
  font-size: 1.214em;
  line-height: 1.412em;
}
h3.subheader {
  font-size: 1em;
  line-height: 1.286em;
}
h4.subheader,
h5.subheader {
  font-size: 0.95em;
  line-height: 1.385em;
}
h6.subheader {
  font-size: 0.8em;
  line-height: 1.364em;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.65em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure {
  margin-bottom: 1.65em;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
blockquote {
  margin-bottom: 1.65em;
  position: relative;
  color: #777777;
  padding-left: 1.65em;
  margin-left: 1.65em;
  border-left: 1px solid #ddd;
}
blockquote small,
cite {
  color: #999999;
  font-style: normal;
}
blockquote p {
  margin-bottom: .5em;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
blockquote .pull-right,
.units-row blockquote .pull-right {
  float: none;
  text-align: right;
  display: block;
}
address {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: 0.85em;
  font-style: italic;
}
ins,
mark {
  background-color: #ffee55;
  color: #000000;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Consolas, Monaco, monospace, sans-serif;
}
pre {
  font-size: 90%;
  color: #444;
  background: #f5f5f5;
  padding: .85em;
  overflow: auto;
}
code {
  padding: 2px 3px;
  display: inline-block;
  line-height: 1;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
kbd {
  padding: 2px 6px 1px 6px;
  line-height: 1;
  display: inline-block;
  border-radius: .3em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: normal;
  white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-size: .95em;
}
fieldset {
  padding: 1.65em;
  margin-bottom: 1.65em;
  border: 1px solid #e3e3e3;
}
legend {
  font-weight: bold;
  padding: 0 1em;
}
.com {
  color: #888;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #005cb9;
}
.str,
.atv {
  color: #8A6343;
}
.kwd,
.linenums,
.tag {
  color: #000;
}
.typ,
.atn,
.dec,
.var {
  color: #666;
}
.pln {
  color: #5890AD;
}
/* =Tables
-----------------------------------------------------------------------------*/
tfoot th,
tfoot td {
  background-color: #f2f2f2;
}
th,
td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.5em 0.8em;
}
table caption {
  text-transform: uppercase;
  padding: 0 1em;
  color: #999999;
  font-size: 0.85em;
}
table.table-flat td,
table.table-flat th {
  border: none;
  padding: 0;
}
table.table-simple td,
table.table-simple th {
  border: none;
  padding: 0.825em 0.7em 0.825em 0;
}
table.table-simple caption {
  padding-left: 0;
}
table.table-bordered td,
table.table-bordered th {
  border: 1px solid #ddd;
}
table.table-stroked td,
table.table-stroked th {
  border-bottom: 1px solid #eee;
}
table.table-striped tbody tr:nth-child(odd) td {
  background-color: #f5f5f5;
}
table.table-hovered tbody tr:hover td,
table.table-hovered thead tr:hover th {
  background-color: #f6f6f6;
}
/* Responsive Tables */
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.65em;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
/* =Lists
-----------------------------------------------------------------------------*/
.lists-simple {
  margin-left: 0;
  list-style: none;
}
.lists-simple ul,
.lists-simple ol {
  list-style: none;
  margin-left: 1.5em;
}
.lists-dash {
  margin-left: 18px;
}
.lists-dash li {
  list-style-type: none;
}
.lists-dash li:before {
  content: "\2013";
  position: relative;
  margin-left: -10px;
  left: -7px;
}
/* =Forms
-----------------------------------------------------------------------------*/
.forms label {
  display: block;
  margin-bottom: 1.65em;
}
.forms input[type="text"],
.forms input[type="password"],
.forms input[type="email"],
.forms input[type="url"],
.forms input[type="phone"],
.forms input[type="tel"],
.forms input[type="number"],
.forms input[type="datetime"],
.forms input[type="date"],
.forms input[type="search"],
.forms input[type="range"],
.forms input[type="file"],
.forms input[type="datetime-local"],
.forms textarea,
.forms select,
.forms button {
  display: block;
}
.forms-inline input[type="text"],
.forms-inline input[type="password"],
.forms-inline input[type="email"],
.forms-inline input[type="url"],
.forms-inline input[type="phone"],
.forms-inline input[type="tel"],
.forms-inline input[type="number"],
.forms-inline input[type="datetime"],
.forms-inline input[type="date"],
.forms-inline input[type="search"],
.forms-inline input[type="range"],
.forms-inline input[type="file"],
.forms-inline input[type="datetime-local"],
.forms-inline textarea,
.forms-inline select,
.forms-inline button,
.forms-inline-list input[type="text"],
.forms-inline-list input[type="password"],
.forms-inline-list input[type="email"],
.forms-inline-list input[type="url"],
.forms-inline-list input[type="phone"],
.forms-inline-list input[type="tel"],
.forms-inline-list input[type="number"],
.forms-inline-list input[type="datetime"],
.forms-inline-list input[type="date"],
.forms-inline-list input[type="search"],
.forms-inline-list input[type="range"],
.forms-inline-list input[type="file"],
.forms-inline-list input[type="datetime-local"],
.forms-inline-list textarea,
.forms-inline-list select,
.forms-inline-list button {
  display: inline-block;
}
.forms-list,
.forms-inline-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1.65em;
  list-style: none;
}
.forms-list label,
.forms-inline-list li,
.forms-inline-list li label {
  display: inline-block;
  margin-bottom: 0;
}
.forms-inline-list li label {
  margin-right: 1.65em;
}
.forms-list li {
  margin-bottom: 6px;
}
.forms-desc {
  margin-top: 4px;
  color: #999999;
  font-size: 0.85em;
  line-height: 1.4em;
}
.forms fieldset {
  padding-bottom: .5em;
  border-radius: .5em;
}
fieldset.forms-row {
  padding: 0;
  border: none;
  margin-bottom: 0;
}
.forms-columnar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.forms-columnar input[type="range"],
.forms-columnar input[type="file"],
.forms-columnar select[multiple="multiple"] {
  display: inline-block;
}
.forms-columnar p {
  position: relative;
  padding-left: 170px;
    top: 7px;
    left: 156px;
}
.forms-columnar label {
  float: left;
  width: 150px;
  text-align: right;
  top: 0;
  left: 0;
  position: absolute;
}
.forms-columnar .forms-list,
.forms-columnar .forms-inline-list {
  margin-left: 170px;
}
.forms-columnar .forms-list label,
.forms-columnar .forms-inline-list label {
  position: static;
  float: none;
  width: auto;
  text-align: left;
  margin-right: 0;
}
.forms-columnar .forms-inline-list label {
  margin-right: 1.65em;
}
.forms-push {
  position: relative;
  padding-left: 170px;
}
.forms-section {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
  margin-bottom: 1em;
  line-height: 1;
}
.forms-columnar .forms-section {
  padding-left: 170px;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea,
select[multiple="multiple"] {
  position: relative;
  z-index: 2;
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  border: 1px solid #ccc;
  margin: 0;
  padding: 3px 2px;
  background-color: white;
  color: #333333;
  font-size: 1em;
  line-height: 1;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: border ease 0.5s;
  -moz-transition: border ease 0.5s;
  -o-transition: border ease 0.5s;
  transition: border ease 0.5s;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
textarea {
  line-height: 1.4em;
}
select {
  margin-bottom: 0 !important;
}
/* Errors and Success */
.error,
.success {
  margin-left: 5px;
  font-weight: normal;
  font-size: 0.85em;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #da3e5a;
  box-shadow: 0 0 0 2px rgba(218, 62, 90, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #18a011 ;
  box-shadow: 0 0 0 2px rgba(24, 160, 17, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-search,
input[type="search"] {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
  border-radius: 15px;
}
.input-append,
.input-prepend {
  display: inline-block;
  background-color: #eee;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 8px;
  color: #333;
  font-size: 1em;
  line-height: 23px;
}
.input-prepend {
  margin-right: -1px;
}
.input-append {
  position: relative;
  z-index: 1;
  margin-left: -1px;
}
/* Placeholder */
:-moz-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
  padding: 2px;
}
/* =Colors
-----------------------------------------------------------------------------*/
.color-black {
  color: #000000;
}
.color-gray-dark {
  color: #555555;
}
.color-gray {
  color: #777777;
}
.color-gray-light {
  color: #999999;
}
.color-white {
  color: #ffffff;
}
.color-red,
.error {
  color: #ef6465;
}
.color-green,
.success {
  color: #90af45;
}
.color-orange {
  color: #f48a30;
}
.color-green {
  color: #90af45;
}
.color-blue {
  color: #1c7ab4;
}
.color-yellow {
  color: #f3c835;
}
/* Link Colors Hover */
a.color-white:focus,
a.color-white:hover {
  color: #bfbfbf;
  color: rgba(255, 255, 255, 0.6);
}
a.color-green:focus,
a.color-green:hover,
a.color-red:focus,
a.color-red:hover,
a.color-error:focus,
a.color-error:hover {
  color: #000000;
}
.label,
.label-badge {
  border-radius: 2em;
  border: 1px solid #ddd;
  font-size: .7em;
  display: inline-block;
  position: relative;
  top: -1px;
  line-height: 1;
  padding: 3px 8px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
.label-badge {
  top: -4px;
  left: -1px;
}
.label-data {
  color: #999999;
  background: none;
  border: none;
  padding: 0;
}
a.label:hover {
  color: #000;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.label-black {
  background-color: #000;
}
.label-red {
  background-color: #ef6465;
}
.label-orange {
  background-color: #f48a30;
}
.label-green {
  background-color: #90af45;
}
.label-blue {
  background-color: #1c7ab4;
}
.label-yellow {
  background-color: #f3c835;
}
.label-black,
.label-red,
.label-orange,
.label-green,
.label-blue,
.label-yellow {
  border: none;
  color: #fff;
  padding: 4px 8px;
}
a.label-black:hover,
a.label-red:hover,
a.label-orange:hover,
a.label-green:hover,
a.label-blue:hover,
a.label-yellow:hover {
  color: #fff;
}
.label-small {
  font-size: .6em;
  padding: 3px 5px;
}
.btn {
  border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #b3b3b3;
    text-decoration: none;
    color: #000;
    border-radius: 2px;
    font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    line-height: 1;
    padding: .7em 1.1em .6em 1.1em;
    font-weight: 500;
    font-size: .85em;
    background-color: #f1f1f1;
    text-shadow: 0 1px 0 #ffffff;
    box-shadow: none;
    background-image: linear-gradient(top, #fcfcfc, #e0e0e0);
}
.btn:hover {
  color: #000;
  background: #e0e0e0;
}
.btn-black {
  border-color: #000;
  background-color: #2e2e2e;
  background-image: linear-gradient(top, #4d4d4d, #000000);
  }
.btn-red {
  border-bottom-color: #910f10;
  background-color: #e54546;
  background-image: linear-gradient(top, #ef6465, #d71618);
    border-left-color: #c01415;
    border-right-color: #c01415;
    border-top-color: #c01415;
}
.btn-orange {
  border-bottom-color: #9c4c08;
  background-color: #ee7f22;
  background-image: linear-gradient(top, #f48a30, #e5700c);
    border-left-color: #cd640b;
    border-right-color: #cd640b;
    border-top-color: #cd640b;
}
.btn-green {
  border-bottom-color: #3c491d;
  background-color: #7e993c;
  background-image: linear-gradient(top, #90af45, #63782f);
    border-left-color: #5a6d2b;
    border-right-color: #5a6d2b;
    border-top-color: #5a6d2b;
}
.btn-blue {
  border-bottom-color: #09293d;
  background-color: #196ea2;
  background-image: linear-gradient(top, #1c7ab4, #155c88);
    border-left-color: #104769;
    border-right-color: #104769;
    border-top-color: #104769;
}
.btn-yellow {
  border-bottom-color: #876a08;
  background-color: #e5b925;
  background-image: linear-gradient(top, #f3c835, #cfa30c);
    border-left-color: #b7900b;
    border-right-color: #b7900b;
    border-top-color: #b7900b;
}
.btn-black {
  text-shadow: 0 -1px 0 #000000;
}
.btn-red,
.btn-orange,
.btn-green,
.btn-blue,
.btn-yellow {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.24);
}
.btn-black,
.btn-red,
.btn-orange,
.btn-green,
.btn-blue,
.btn-yellow {
  color: #fff;
}
.btn-black:hover,
.btn-red:hover,
.btn-orange:hover,
.btn-green:hover,
.btn-blue:hover,
.btn-yellow:hover {
  color: rgba(255, 255, 255, 0.8);
}
.btn-black:hover {
  background: #000;
}
.btn-red:hover {
  background: #d71618;
}
.btn-orange:hover {
  background: #e5700c;
}
.btn-green:hover {
  background: #63782f;
}
.btn-blue:hover {
  background: #155c88;
}
.btn-yellow:hover {
  background: #cfa30c;
}
.btn-small {
  font-size: .7em;
}
.btn-big {
  font-size: 1.2em;
  line-height: 1.65em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.btn-round {
  border-radius: 20px;
}
.btn-active,
.btn-active:hover,
.btn.disabled,
.btn[disabled],
.btn-disabled,
.btn-disabled:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  background: #d1d1d1;
  border: 1px solid #b3b3b3;
  text-shadow: 0 1px 1px #fff;
}
.btn-active,
.btn-active:hover {
  color: #666;
}
.btn.disabled,
.btn[disabled],
.btn-disabled,
.btn-disabled:hover {
  color: #999;
}
.btn:focus .halflings,
.btn:hover .halflings {
  color: #555555;
}
.btn-black:hover .halflings,
.btn-red:hover .halflings,
.btn-orange:hover .halflings,
.btn-green:hover .halflings,
.btn-blue:hover .halflings,
.btn-yellow:hover .halflings {
  color: rgba(255, 255, 255, 0.8);
}
.btn-disabled:hover .halflings {
  color: #999;
}
.btn-active .halflings {
  color: #555;
}
/* Group  */
.btn-single,
.btn-group {
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
}
.btn-single:after,
.btn-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn-single > .btn,
.btn-single > input,
.btn-group > .btn,
.btn-group > input {
  float: left;
  border-radius: 0;
  margin-left: -1px;
}
.btn-single > .btn {
  border-radius: 4px;
}
.btn-group > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-group > .btn.btn-round:first-child,
.btn-group > .input-search:first-child {
  border-radius: 15px 0 0 15px;
}
.btn-group > .btn.btn-round:last-child,
.btn-group > .input-search:last-child {
  border-radius: 0 15px 15px 0;
}
.btn-append,
.btn-group .btn {
  padding: 7px 1.1em 6px 1.1em;
}
/* Append  */
.btn-append {
  position: relative;
  top: -1px;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}
/* FF fix */
@-moz-document url-prefix("http://") {
  input[type=submit].btn::-moz-focus-inner,
  button.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
/* =Goodies
-----------------------------------------------------------------------------*/
.first-letter::first-letter {
  font-size: 4em;
  line-height: 0.75em;
  float: left;
  position: relative;
  padding-right: 6px;
  margin-top: -2px;
  font-weight: normal;
  color: #333333;
}
.supersmall {
  font-size: 0.7em;
}
.small {
  font-size: 0.85em;
}
.big {
  font-size: 1.2em;
}
input.big {
  padding: 2px 0;
  font-size: 1.2em;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.nowrap {
  white-space: nowrap;
}
.zero {
  margin: 0 !important;
  padding: 0 !important;
}
.clear {
  clear: both;
}
.last {
  margin-right: 0 !important;
}
.pause {
  margin-bottom: 0.75em !important;
}
.end {
  margin-bottom: 0 !important;
}
.handle {
  cursor: move;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.req,
.required {
  font-weight: normal;
  color: #ef6465;
}
.highlight {
  background-color: #ffff9e !important;
}
.close {
  padding: 4px 6px;
  line-height: 1;
  font-size: 18px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
}
.close:before {
  content: '\00D7';
}
.close:hover {
  color: #000000;
  opacity: 1;
}
/* =Images
-----------------------------------------------------------------------------*/
.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-left img,
.image-right img {
  position: relative;
  top: .4em;
}
.image-centered {
  text-align: center;
}
.image-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.image-content {
  overflow: hidden;
}
/* =Navs
-----------------------------------------------------------------------------*/
/* Horizontal */
.nav-h,
.nav-g {
  margin-bottom: 1.65em;
}
.nav-h:after,
.nav-g:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nav-h ul,
.nav-g ul {
  list-style: none;
  margin: 0;
}
.nav-h ul:after,
.nav-g ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nav-h ul li,
.nav-g ul li {
  float: left;
  margin-right: 1.5em;
}
.nav-h ul li a,
.nav-h ul li span,
.nav-g ul li a,
.nav-g ul li span {
  display: block;
}
.nav-h ul li a,
.nav-g ul li a {
  text-decoration: none;
}
.nav-h ul li a:hover,
.nav-g ul li a:hover {
  color: #ef6465;
  text-decoration: underline;
}
.nav-h ul li span,
.nav-g ul li span {
  color: #999999;
}
/* Vertical */
.nav-v {
  margin-bottom: 1.65em;
}
.nav-v ul {
  list-style: none;
  margin: 0;
}
.nav-v ul li {
  border-bottom: 1px solid #eee;
}
.nav-v ul li ul {
  margin-left: 2em;
  font-size: .95em;
}
.nav-v ul li ul li:last-child {
  border-bottom: none;
}
.nav-v ul li ul li a,
.nav-v ul li ul li span {
  padding: 4px 0;
}
.nav-v ul li a,
.nav-v ul li span {
  display: block;
  padding: 5px 0;
}
.nav-v ul li a {
  text-decoration: none;
}
.nav-v ul li a:hover {
  color: #ef6465;
  text-decoration: underline;
}
.nav-v ul li span {
  color: #999999;
}
/* Stacked */
.nav-stacked ul {
  border: 1px solid #eee;
  border-bottom: 0;
}
.nav-stacked ul li a,
.nav-stacked ul li span {
  padding: 5px 10px;
}
.nav-stacked ul li a:hover {
  background-color: #f5f5f5;
}
/* Stats */
.nav-stats li {
  position: relative;
}
.nav-stats li a,
.nav-stats li span {
  padding-right: 50px;
}
.nav-stats .label,
.nav-stats .label-badge {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}
.nav-stats.nav-stacked .label,
.nav-stats.nav-stacked .label-badge {
  right: 4px;
}
.nav-stats .label.label-data,
.nav-stacked .label-data {
  margin-top: -6px;
  right: 6px;
}
.nav-v h1,
.nav-v h2,
.nav-v h3,
.nav-v h4,
.nav-v h5,
.nav-v h6 {
  margin-top: 1.5em;
  margin-bottom: 3px;
}
.nav-v h1:first-child,
.nav-v h2:first-child,
.nav-v h3:first-child,
.nav-v h4:first-child,
.nav-v h5:first-child,
.nav-v h6:first-child {
  margin-top: 0;
}
/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 1.65em;
}
.breadcrumbs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.breadcrumbs ul {
  font-size: .9em;
  color: #999;
  list-style: none;
  margin: 0;
}
.breadcrumbs ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.breadcrumbs ul li {
  float: left;
  margin-right: 3px;
}
.breadcrumbs li + li:before {
  content: " > ";
  color: #aaa;
  font-size: 12px;
  margin: 0 3px;
  position: relative;
  top: -1px;
}
.breadcrumbs-sections li + li:before {
  content: " | ";
  top: 0;
}
.breadcrumbs-path li + li:before {
  content: " / ";
  top: 0;
}
.breadcrumbs ul li a {
  color: #000000;
  text-decoration: none;
}
.breadcrumbs ul li a.active {
  color: #999;
}
.breadcrumbs ul li a:hover {
  color: #000;
  text-decoration: underline;
}
/* Tabs */
.nav-tabs {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 1.65em;
}
.nav-tabs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nav-tabs ul {
  list-style: none;
  margin: 0;
}
.nav-tabs ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nav-tabs ul li {
  float: left;
  margin-right: 2px;
}
.nav-tabs ul li a,
.nav-tabs ul li span {
  display: block;
  line-height: 1;
  padding: 8px 12px 9px 12px;
}
.nav-tabs ul li a {
  color: #999999;
  text-decoration: none;
}
.nav-tabs ul li a:focus,
.nav-tabs ul li a:hover {
  color: #000000;
  text-decoration: underline;
}
.nav-tabs ul li .active,
.nav-tabs ul li span {
  color: #000000;
  background: #fff;
  margin-top: -2px;
  position: relative;
  padding: 8px 11px 9px 11px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  bottom: -1px;
}
.nav-tabs ul li .active {
  cursor: default;
}
/* Vertical tabs */
.nav-tabs-v {
  border: none;
  border-right: 1px solid #e3e3e3;
}
.nav-tabs-v ul li {
  float: none;
}
.nav-tabs-v ul li span {
  margin-top: 0;
  bottom: 0;
  margin-right: -3px;
  border: 1px solid #ddd;
  border-right: 1px solid #fff;
}
/* Pills */
.nav-pills {
  margin-bottom: 1.15em;
}
.nav-pills:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nav-pills ul {
  list-style: none;
  margin: 0;
}
.nav-pills ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.nav-pills ul li {
  float: left;
  margin-right: .5em;
  margin-bottom: 0.6499999999999999em;
}
.nav-pills ul li a,
.nav-pills ul li span {
  display: block;
  padding: 6px 15px;
  line-height: 1;
  border-radius: 15px;
}
.nav-pills ul li a {
  color: #777777;
  text-decoration: none;
  background-color: #f3f4f5;
}
.nav-pills ul li a:hover {
  color: #555555;
  text-decoration: underline;
}
.nav-pills ul li .active,
.nav-pills ul li .active:hover,
.nav-pills ul li span {
  color: #777777;
  padding: 5px 14px;
  border: 1px solid #ddd;
  background: none;
}
.nav-pills ul li .active,
.nav-pills ul li .active:hover {
  cursor: default;
  text-decoration: none;
}
/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
  position: relative;
  left: -9px;
  margin-left: 0;
  list-style: none;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pagination li {
  float: left;
  margin-right: 2px;
}
.pagination li a,
.pagination li span {
  display: block;
  padding: 7px 9px;
  line-height: 1;
  border-radius: 2em;
  color: #000;
  text-decoration: none;
}
.pagination span {
  border: 1px solid #ddd;
}
.pagination li a:focus,
.pagination li a:hover {
  text-decoration: underline;
  background-color: #333;
  color: #ffffff;
}
.pagination li.pagination-older {
  margin-left: 7px;
}
.pagination li.pagination-older a,
.pagination li.pagination-newest a,
.pagination li.pagination-older span,
.pagination li.pagination-newest span {
  padding: 5px 15px;
  border-radius: 2em;
  border: 1px solid #ddd;
}
.pagination li.pagination-older span,
.pagination li.pagination-newest span {
  border-color: #eee;
  color: #999;
}
.pagination li.pagination-pull {
  float: right;
  margin-right: -7px;
  margin-left: .5em;
}
.message {
  position: relative;
  padding: 9px 13px;
  border: 1px solid #f7dc7d;
  border-radius: 5px;
  margin-bottom: 1.65em;
  color: #9f7d09;
  background-color: #fdf7e2;
}
.message-error {
  color: #c01415;
  border-color: #f9c0c1;
  background-color: #fdefef;
}
.message-success {
  color: #546628;
  border-color: #d1dfae;
  background-color: #f0f5e5;
}
.message-info {
  color: #124d72;
  border-color: #b3dbf3;
  background-color: #dff0fa;
}
.message header {
  font-weight: bold;
  font-size: 1.2em;
}
.message .close {
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 6px;
}
/* =Grid
-----------------------------------------------------------------------------*/
.units-container:after,
.units-row-end:after,
.units-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.units-container {
  /* it's the trick to not collapse padding-top in the child element */

  padding-top: 1px;
  margin-top: -1px;
}
.units-container,
.units-row-end,
.units-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.units-row {
  margin-bottom: 1.5em;
}
.units-row-end {
  margin-bottom: 0;
}
.width-100,
.unit-100 {
  width: 100%;
}
.width-80,
.unit-80 {
  width: 80%;
}
.width-75,
.unit-75 {
  width: 75%;
}
.width-70,
.unit-70 {
  width: 70%;
}
.width-66,
.unit-66 {
  width: 66.6%;
}
.width-60,
.unit-60 {
  width: 60%;
}
.width-50,
.unit-50 {
  width: 50%;
}
.width-40,
.unit-40 {
  width: 40%;
}
.width-33,
.unit-33 {
  width: 33.3%;
}
.width-30,
.unit-30 {
  width: 30%;
}
.width-25,
.unit-25 {
  width: 25%;
}
.width-20,
.unit-20 {
  width: 20%;
}
input.width-100,
input.unit-100 {
  width: 98.6%;
}
textarea.width-100,
textarea.unit-100 {
  width: 98.8%;
}
select.width-100,
select.unit-100 {
  width: 99.4%;
}
.width-100,
.width-80,
.width-75,
.width-70,
.width-66,
.width-60,
.width-50,
.width-40,
.width-33,
.width-30,
.width-25,
.width-20,
.units-row .unit-100,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row-end .unit-100,
.units-row-end .unit-80,
.units-row-end .unit-75,
.units-row-end .unit-70,
.units-row-end .unit-66,
.units-row-end .unit-60,
.units-row-end .unit-50,
.units-row-end .unit-40,
.units-row-end .unit-33,
.units-row-end .unit-30,
.units-row-end .unit-25,
.units-row-end .unit-20 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row-end .unit-100,
.units-row-end .unit-80,
.units-row-end .unit-75,
.units-row-end .unit-70,
.units-row-end .unit-66,
.units-row-end .unit-60,
.units-row-end .unit-50,
.units-row-end .unit-40,
.units-row-end .unit-33,
.units-row-end .unit-30,
.units-row-end .unit-25,
.units-row-end .unit-20 {
  float: left;
  margin-left: 3%;
}
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row-end .unit-100:first-child,
.units-row-end .unit-80:first-child,
.units-row-end .unit-75:first-child,
.units-row-end .unit-70:first-child,
.units-row-end .unit-66:first-child,
.units-row-end .unit-60:first-child,
.units-row-end .unit-50:first-child,
.units-row-end .unit-40:first-child,
.units-row-end .unit-33:first-child,
.units-row-end .unit-30:first-child,
.units-row-end .unit-25:first-child,
.units-row-end .unit-20:first-child {
  margin-left: 0;
}
.units-row .unit-80,
.units-row-end .unit-80 {
  width: 79.4%;
}
.units-row .unit-75,
.units-row-end .unit-75 {
  width: 74.25%;
}
.units-row .unit-70,
.units-row-end .unit-70 {
  width: 69.1%;
}
.units-row .unit-66,
.units-row-end .unit-66 {
  width: 65.66666666666666%;
}
.units-row .unit-60,
.units-row-end .unit-60 {
  width: 58.800000000000004%;
}
.units-row .unit-50,
.units-row-end .unit-50 {
  width: 48.5%;
}
.units-row .unit-40,
.units-row-end .unit-40 {
  width: 38.2%;
}
.units-row .unit-30,
.units-row-end .unit-30 {
  width: 27.9%;
}
.units-row .unit-33,
.units-row-end .unit-33 {
  width: 31.333333333333332%;
}
.units-row .unit-25,
.units-row-end .unit-25 {
  width: 22.75%;
}
.units-row .unit-20,
.units-row-end .unit-20 {
  width: 17.6%;
}
.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20 {
  position: relative;
}
.unit-push-30 {
  left: 30.9%;
}
.unit-push-80 {
  left: 82.4%;
}
.unit-push-75 {
  left: 77.25%;
}
.unit-push-70 {
  left: 72.1%;
}
.unit-push-66 {
  left: 68.66666666666666%;
}
.unit-push-60 {
  left: 61.800000000000004%;
}
.unit-push-50 {
  left: 51.5%;
}
.unit-push-40 {
  left: 41.2%;
}
.unit-push-33 {
  left: 34.33333333333333%;
}
.unit-push-25 {
  left: 25.75%;
}
.unit-push-20 {
  left: 20.6%;
}
.unit-push-right {
  float: right;
}
.centered,
.unit-centered {
  float: none !important;
  margin: 0 auto !important;
}
.unit-padding {
  padding: 1.65em;
}
.units-padding .unit-100,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20 {
  padding: 1.65em;
}
.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20 {
  margin-left: 0;
}
.units-split .unit-80 {
  width: 80%;
}
.units-split .unit-75 {
  width: 75%;
}
.units-split .unit-70 {
  width: 70%;
}
.units-split .unit-66 {
  width: 66.6%;
}
.units-split .unit-60 {
  width: 60%;
}
.units-split .unit-50 {
  width: 50%;
}
.units-split .unit-40 {
  width: 40%;
}
.units-split .unit-33 {
  width: 33.3%;
}
.units-split .unit-30 {
  width: 30%;
}
.units-split .unit-25 {
  width: 25%;
}
.units-split .unit-20 {
  width: 20%;
}
/* =Blocks
-----------------------------------------------------------------------------*/
.blocks-2,
.blocks-3,
.blocks-4,
.blocks-5,
.blocks-6 {
  padding-left: 0;
  list-style: none;
  margin-left: -3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blocks-2:after,
.blocks-3:after,
.blocks-4:after,
.blocks-5:after,
.blocks-6:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.blocks-2 > li,
.blocks-3 > li,
.blocks-4 > li,
.blocks-5 > li,
.blocks-6 > li {
  height: auto;
  float: left;
  margin-bottom: 1.65em;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blocks-2 > li {
  width: 47%;
}
.blocks-3 > li {
  width: 30.333333333333332%;
}
.blocks-4 > li {
  width: 22%;
}
.blocks-5 > li {
  width: 17%;
}
.blocks-6 > li {
  width: 13.666666666666666%;
}
.block-first {
  clear: both;
}
/* =Tablet and Desktop
-----------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}
/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .mobile-text-centered {
    text-align: center;
  }
  .mobile-hide {
    display: none;
  }
}
/* =Media
-----------------------------------------------------------------------------*/
/* Responsive images and other embedded objects */
img,
video {
  max-width: 100%;
  height: auto;
}
img {
  -ms-interpolation-mode: bicubic;
}
audio {
  width: 100%;
}
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  /* ratio 16:9 */

  position: relative;
  margin-bottom: 1.65em;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .units-row .unit-80,
  .units-row .unit-75,
  .units-row .unit-70,
  .units-row .unit-66,
  .units-row .unit-60,
  .units-row .unit-50,
  .units-row .unit-40,
  .units-row .unit-33,
  .units-row .unit-30,
  .units-row .unit-25,
  .units-row .unit-20,
  .units-row-end .unit-80,
  .units-row-end .unit-75,
  .units-row-end .unit-70,
  .units-row-end .unit-66,
  .units-row-end .unit-60,
  .units-row-end .unit-50,
  .units-row-end .unit-40,
  .units-row-end .unit-33,
  .units-row-end .unit-30,
  .units-row-end .unit-25,
  .units-row-end .unit-20 {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .unit-push-80,
  .unit-push-75,
  .unit-push-70,
  .unit-push-66,
  .unit-push-60,
  .unit-push-50,
  .unit-push-40,
  .unit-push-33,
  .unit-push-30,
  .unit-push-25,
  .unit-push-20 {
    left: 0;
  }
  .units-row-end .unit-push-right,
  .units-row .unit-push-right {
    float: none;
  }
  .units-mobile-50 .unit-80,
  .units-mobile-50 .unit-75,
  .units-mobile-50 .unit-70,
  .units-mobile-50 .unit-66,
  .units-mobile-50 .unit-60,
  .units-mobile-50 .unit-40,
  .units-mobile-50 .unit-30,
  .units-mobile-50 .unit-33,
  .units-mobile-50 .unit-25,
  .units-mobile-50 .unit-20 {
    float: left;
    margin-left: 3%;
    width: 48.5%;
  }
  .units-mobile-50 .unit-80:first-child,
  .units-mobile-50 .unit-75:first-child,
  .units-mobile-50 .unit-70:first-child,
  .units-mobile-50 .unit-66:first-child,
  .units-mobile-50 .unit-60:first-child,
  .units-mobile-50 .unit-40:first-child,
  .units-mobile-50 .unit-30:first-child,
  .units-mobile-50 .unit-33:first-child,
  .units-mobile-50 .unit-25:first-child,
  .units-mobile-50 .unit-20:first-child {
    margin-left: 0;
  }
}
/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .blocks-2,
  .blocks-3,
  .blocks-4,
  .blocks-5,
  .blocks-6 {
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .blocks-2 > li,
  .blocks-3 > li,
  .blocks-4 > li,
  .blocks-5 > li,
  .blocks-6 > li {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .blocks-mobile-50 > li,
  .blocks-mobile-33 > li {
    float: left;
    margin-left: 3%;
  }
  .blocks-mobile-33,
  .blocks-mobile-50 {
    margin-left: -3%;
  }
  .blocks-mobile-50 > li {
    width: 47%;
  }
  .blocks-mobile-33 > li {
    width: 30.333333333333332%;
  }
}
/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .nav-h,
  .nav-h ul,
  .nav-h ul li,
  .nav-h,
  .nav-g,
  .nav-g ul,
  .nav-g ul li,
  .nav-g,
  .nav-v ul,
  .nav-v,
  .nav-tabs ul,
  .nav-pills,
  .nav-pills ul {
    float: none;
  }
  .nav-h ul li,
  .nav-g ul li {
    margin: 0;
    margin-bottom: 1px;
  }
  .nav-tabs ul li {
    float: none;
    margin-right: 0;
  }
  .nav-tabs ul li a,
  .nav-tabs ul li span,
  .nav-tabs ul li .active {
    margin-top: 0;
    bottom: 0;
    padding: 8px 12px 9px 12px;
    border: 1px solid #ddd;
    border-bottom: none;
  }
  .nav-tabs-v {
    border-bottom: 1px solid #ddd;
    border-right: none;
  }
  .nav-tabs-v ul li span {
    margin-top: 0;
    bottom: 0;
    margin-right: 0;
  }
}
/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .forms-columnar label {
    float: none;
    text-align: left;
    width: auto;
    margin-bottom: 0;
  }
  .forms-push label {
    position: relative;
  }
  .forms-push,
  .forms-columnar .forms-section {
    padding-left: 0;
  }
  .forms-columnar .forms-list,
  .forms-columnar .forms-inline-list {
    margin-left: 0;
  }
}
