﻿<%@ Page Title="" Language="C#" MasterPageFile="~/master/One.Master" AutoEventWireup="true" CodeBehind="inactive.aspx.cs" Inherits="GAUC.instructor.inactive" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <div>
    <h1>GAU E-learning System</h1>
    <h4>Instructor Home Page</h4>
    </div>
    <hr />
<div>
<h3>You're Account is Inactive. Contact the Administrator</h3>

</div>
</asp:Content>
